  @import url(../Build/Cesium/Widgets/widgets.css);

  #cesiumContainer {
    width: 100%;
    height:100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
  }

  #testSidebar {
    /* alternative: newsbar moved to the right side (hacky method - have to guess numbers)  */
    position: absolute;
    top: 50px;
    left: 5px;
    padding: 0 5px 5px 5px;
    border-radius: 4px;
    background: rgba(42, 42, 42, 0.1)!important;
    overflow: auto;
    font-family: Georgia;
    max-width: 20%;
    min-width: 250px;
    max-height: calc(100% - 50px);
    z-index:1;
  }

  .article-numbers {
    height: 19px;
    width: 21px;
    padding: 0px 5px 1px 0px;
  }

  /* news panels default */
  .panel-heading {
    color: white;
    background: rgba(158, 188, 218, 0.5);
  }

  /* news panels on select */
  .panel-heading.on {
    background-color: dodgerblue;
  }

  /* news panels body on expansion */
  .panel-body {
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.9);
  }

  .cesium-infoBox-iframe {
    overflow: hidden;
    min-height:745px;
    width: calc(100% - 2px);
  }

  .cesium-infoBox-visible {
    top: 112px;
    left: calc(20% + 5px);
    width: 40%;
    min-width:350px;
    transform: translate(0,0);
    visibility: visible;
    opacity: 1;
    transition:  opacity 0.2s ease-out,transform 0.2s ease-out;
    transition-property: opacity, transform;
    transition-duration: 0.2s, 0.2s;
    transition-timing-function: ease-out, ease-out;
    transition-delay: initial;
    z-index:2;
  }

  .cesium-viewer-toolbar {
    top: 5px;
    right:146px;
    z-index: 3;
  }

  .cesium-baseLayerPicker-dropDown-visible {
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    transform: translate(0,0);
    visibility: visible;
    opacity: 1;
    z-index: 2;
    -webkit-transition: opacity 0.2s ease-out,-webkit-transform 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out,-moz-transform 0.2s ease-out;
    transition: opacity 0.2s ease-out,transform 0.2s ease-out;
  }

  .navbar {
    width: 100%;
    background:none;
    border:none!important;
    z-index:2;
  }

  .navbar-form .navbar-left {
    left:5px;
    width:20%;
    position:absolute;
  }

  .navbar .navbar-nav {
    display: inline-block;
    float: none;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }

  .read-more {
    padding: 0px 0px 0px 5px;
    border:none;
  }

  #fixedbox {
    position: fixed;
    bottom: 60px;
    right: 10px;
    background-color: rgba(42, 42, 42, 0.8);
    color: whitesmoke;
    padding: 15px;
    border-radius: 4px;
    font-family: monospace;
    font-size: 20px;
  }

  #countryview {
    position: fixed;
    left: 30px;
    bottom: 110px;
  }

  #globalview {
    position: fixed;
    left: 100px;
    bottom: 110px;
  }