  @import url(../Build/Cesium/Widgets/widgets.css);

  html, body, #cesiumContainer {
    width: 100%;
    height: calc(100% + 20px);
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    background-color: black;
  }

  #testSidebar {
    display: block;
    position: absolute;
    /* alternative: newsbar moved to the right side (hacky method - have to guess numbers)  */
    top: 50px;
    right: 2px;
    /* sidebar on the left */
    /*
    top: 10px;
    left: 10px;
    */
    background: rgba(42, 42, 42, 0.8);
    padding: 5px;
    border-radius: 4px;
    color: white;
    font-family: Georgia;
    max-width: 15%;
    height: calc(100% - 100px);
    overflow: auto;
    z-index:1;
  }

  .cesium-infoBox-iframe{
    border:none;
    width:100%;
    width:calc(100% - 2px);
    overflow: auto;
    min-height:750px
  }

  .cesium-infoBox-visible {
    top: 50px;
    right: calc(15% + 15px);
    transform: translate(0,0);
    visibility: visible;
    opacity: 1;
    transition:  opacity 0.2s ease-out,transform 0.2s ease-out;
    transition-property: opacity, transform;
    transition-duration: 0.2s, 0.2s;
    transition-timing-function: ease-out, ease-out;
    transition-delay: initial;
    z-index:9;
  }

  .cesium-baseLayerPicker-dropDown-visible {
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    transform: translate(0,0);
    visibility: visible;
    opacity: 1;
    z-index: 2;
    -webkit-transition: opacity 0.2s ease-out,-webkit-transform 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out,-moz-transform 0.2s ease-out;
    transition: opacity 0.2s ease-out,transform 0.2s ease-out;
  }

    .navbar-brand {
    padding: 0px;
  }

  .navbar-wrapper {
    position: absolute;
    top: 0;
    right 0;
    width: 100%;
    left 0;
    z-index: 20;
  }

  .navbar-wrapper .navbar {
    width: 100%;
  }

  .navbar-brand>img {
    height: 100%;
    padding: 3px;
  }