  @import url(../Build/Cesium/Widgets/widgets.css);

  html, body, #cesiumContainer {
      width: 94%; height: 100%; margin: 0; padding: 0; overflow: hidden;
      background-color: black;
  }

  #testSidebar {
    display: block;
    position: absolute;
    /* alternative: newsbar moved to the right side (hacky method - have to guess numbers)  */
    top: 35px;
    right: 0px; 
    /* sidebar on the left */
    /*
    top: 10px;
    left: 10px;
    */
    background: rgba(42, 42, 42, 0.8);
    padding: 5px;
    border-radius: 4px;
    color: white;
    font-family: Georgia;
    max-width: 315px;
  }

  .cesium-infoBox-iframe{
    border:none;width:100%;
    width:calc(100% - 2px);
    min-height:750px
  }